body {
    margin: 0px;
    text-align: center;
    color: #40514E;

}
h1{
  font-size: 562.5%; /* 100% = 16px so to get 90px it is 562.5% */
  margin-top: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Kaushan Script', cursive;
}
.cs{
  font-size: 250%;
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Kaushan Script', cursive;
}
.colorchangeh3{
  color:#11999E;
  text-align: left;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.webimage{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.tt{
  width: 25%;
  float:right;
  margin-left: 30px;
}
.studentimg{
  width:15%;
}
.change{
  font-family: 'Kaushan Script', cursive;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
.hr{
  border: none;
  border-top: 10px dotted #EAF6F6;
  width:10%;
  margin: 100px auto;
}
.one{
  background-color: #ebfffa;
  position: relative;
  padding-top: 100px;
}
.two{
  margin: 100px 0;
}
.three{
  background-color: #66BFBF;
  padding: 50px 0 20px; /* padding below*/

}
.bottomcloud{
  position: absolute;
  left:250px;
  bottom: 300px;
}
.topcloud{
  position: absolute;
  right: 40px;
  top: 50px;
}
.intro{
  width: 50%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin:40px auto 60px;

}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Kaushan Script', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #11CDD4 2px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
a{
  color: #11999e;
  font-family: 'Kaushan Script', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.85rem;
  padding: 20px 0;
}
